In [17]:
import pandas as pd
import json

In [18]:
df = pd.read_csv("exampleNode.csv", index_col = 0)

In [19]:
df

      Name  Location
Node
1       xx       123
2       yy       234
3       zz       456
4       aa       765
5       bb        45

In [20]:
dictOfdf = df.to_dict('index')

In [21]:
dictOfdf

{1: {'Name': 'xx', 'Location': 123},
 2: {'Name': 'yy', 'Location': 234},
 3: {'Name': 'zz', 'Location': 456},
 4: {'Name': 'aa', 'Location': 765},
 5: {'Name': 'bb', 'Location': 45}}

In [23]:
with open('data.json', 'w') as outfile:  
    json.dump(dictOfdf, outfile)